<hello name="{{ name }}"></hello>
<template> </template>
<p>Start editing to see some magic happen :)</p>

<h3>Ng For</h3>

<h4 [innerHTML]="agent"></h4>
<h4 [innerHTML]="cust"></h4>
<!-- <img [src]="imagSrc" />-->
<h3>Handle binding</h3>
<div>
  <input
    type="text"
    [value]="agent"
    (blur)="handleBlur($event)"
    (input)="handleInput($event)"
  />
</div>

<div>
  <button (click)="handleClick()">Click Me</button>
</div>

<!-- It needs -->
<h3>FormsModule</h3>
<div>
  <input [ngModel]="name" (ngModelChange)="handleChange($event)" />
</div>

<div>
  <input [(ngModel)]="cust" #agentCust />
</div>

<h3>Ng IF</h3>
<div>
  <input type="number" #agentAge />
</div>
<div *ngIf="age > 20">
  {{ age }}
</div>
<div>
  <button (click)="handleChangeAge(agentAge.value)">Change Age</button>
</div>
<!-- it causes a problems to the form see console 
     is it better from *ngIf
     can we use it by calling it 
-->
<!--<template [ngIf]="age > 20">
  <div>
    {{ age }}
  </div>
</template>-->
